<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description">
    <meta name="author" content="wcf">

    <!-- <link rel="icon" href="../../favicon.ico">-->

    <block name="title"></block>

    <!-- Bootstrap core CSS -->
    <link href="../../../../Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="../../../../Public/css/starter-template.css" rel="stylesheet">-->

</head>

<body>
<div class=" container">
    <form class="form-horizontal" action="{:U('Craw/Yxjs/vote')}" method="post" id="theform" role="form">
        <div class="form-group">
            <label for="code">验证码</label>
            <input name="code" id="code" maxlength="6" type="text">
            <img src="__PUBLIC__/verify0.bmp">
        </div>
        <input name="button" type="submit" value="登 录" class="btn">
    </form>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="../../../../Public/js/jquery.min.js"></script>-->
<!--<script src="../../../../Public/js/bootstrap.min.js"></script>-->

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
