<extend name="Index:base" />
<block name="title"><title>{$title}</title></block>

<block name="content">
    <div class="container">
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="glyphicon glyphicon-list-alt"></i> 分类列表</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class=" nav nav-pills nav-stacked">
                                <volist name="topics" id="it" key="i">
                                        <li><a href="{:U('Admin/Soft/index',array('cid'=>$it['id']))} " target="_blank"><i class="glyphicon glyphicon glyphicon-link"></i> {$it.name}</a></li>
                                </volist>
                                <!--<li><a href="{:U('Admin/Member/memberList')}">会员列表</a></li>
                                <li><a href="{:U('Admin/Member/memberAdd')}">添加会员</a></li>-->
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8" id="content">
            <volist name="topics" id="out">
                <div class="panel panel-primary">
                    <div class="panel-heading">{$out['name']}</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <th>序号</th><th>标题</th>
                            <volist name="out['added']" id="in" key="i">
                                <tr>
                                    <td><a href="{$in['url']}" target="_blank">  {$i}</a></td>
                                    <td><a href="{$in['url']}" target="_blank"><i class="glyphicon glyphicon-floppy-save"></i>  {$in['name']}</a></td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                </div>
            </volist>
        </div>
    </div>
    </div>
</block>