<extend name="Index:base" />

<block name="title"><title>{$title}</title></block>
<block name="sidebar">
    <include file="Index:sidebar" />

</block>
<block name="content">
    <div id="content" class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">分类标题</div>
            <div class="panel-body">body</div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">分类标题</div>
            <div class="panel-body">body</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">分类标题</div>
            <div class="panel-body">body</div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">分类标题</div>
            <div class="panel-body">body</div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">分类标题</div>
            <div class="panel-body">body</div>
        </div>
    </div>
</block>

