<extend name="Index:base" />
<block name="title"><title>{$title}</title></block>
<block name="sidebar">
    <div id="sidebar" class="col-sm-3">
        <div class="panel-group" id="group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-toggle="collapse" data-parent="#group" href="#topic1"><i class="glyphicon glyphicon-list"></i>
                            分类列表
                        </a>

                    </h4>
                </div>
                <div id="topic1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class=" nav nav-pills nav-stacked">
                            <li><a href="#">第一个分类</a></li>
                            <li><a href="#">第二个分类</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>
<block name="content">
    <div id="content" class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">第一个分类</div>
            <div class="panel-body"><a href="#">分类软件</a></div>
        </div>
    </div>
</block>