<div id="sidebar" class="col-sm-3">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="glyphicon glyphicon-user"></i> 分类列表</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class=" nav nav-pills nav-stacked">
                        <volist name="topics" id="it">
                            <li><a href="{:U('Home/Soft/index',array('cid'=>$it['id']))}">{$it.name}</a></li>
                        </volist>
                        <!--<li><a href="{:U('Admin/Member/memberList')}">会员列表</a></li>
                        <li><a href="{:U('Admin/Member/memberAdd')}">添加会员</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>