<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>"__URL__"</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
<form action="__URL__/insert" method="post">
    名称：<TEXTAREA name="name" rows="5" cols="45"></TEXTAREA><br>
    地址：<TEXTAREA name="url" rows="5" cols="45"></TEXTAREA><br>
    分类选择:<select name="cid">
                <?php
                foreach ($list as $key => $value) {
                        echo "<option value=$value[id]>$value[name]</option>";
                   }
                ?>
            </select><br>
    <INPUT type="submit" value="提交">
</form>
</body>
</html>