<extend name="Index:base" />
<block name="title"><title>{$title}</title></block>
<block name="content">
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">__URL__</div>
            <div class="panel-body">
                <p>软件列表页面，可以查看，修改，删除分类</p>
            </div>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>序号</th><th>名称</th><th>类别</th></th><th>操作</th>
                </tr>
                <volist name="softs" id="it">
                    <tr>
                        <td>{$it.id}</td>
                        <td><a href="{:U('Admin/Soft/index?id='.$it['id'])}">{$it.name}</td>
                        <td><a href="{:U('Admin/Topic/index?id='.$it['id'])}">{$it.cname}</a></td>
                        <td><a href="{:U('Admin/Soft/delete?id='.$it['id'])}"><i class="glyphicon glyphicon-check"></i> 删除</a></td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
    </div>
</block>